body {
    max-height: min-content;
    align-items: center;
    background-color: #FB0C0C;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo-container {
    text-align: left;
}

.text-container {
    color: #FFFFFF;
    margin: 10px;
}

.attack{
    font-weight:bolder;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: end;
}

.install-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.animated-button {
    color: black;
    font-size: 18px;
    text-decoration: none;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 8px;

    position: absolute;
    bottom: 0cm;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    border: none;
    padding: 15px 0;
    font-size: 4vw;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   margin: 20px;
    box-shadow: 4px 4px 16px 1px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #5ebaf8, #FFFFFF);
    z-index: 1;
    animation: swipe-left-to-right 3s infinite;
  }
  
  @keyframes swipe-left-to-right {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  
  .animated-button span {
    position: relative;
    z-index: 2;
  }

/*bracking points*/
/*desktop*/
@media only screen and (max-width: 1920px) {

    .phone-container {
      /*  background-image: url(assets/group\ 3\ \(1960x1796\).png);*/
        background-image: url(assets/group\ 2\ \(690x1114\).png);

        background-repeat: no-repeat;
        background-size: contain;
        height: 70vh;
        width: 50vw;
    }

    .main-text {
        font-weight: bold;
        font-size: 70px;
        margin: 0;
        padding: 0;
    }

    .animated-button {
        left: 50%;
        width: 50%;
        font-size: 2vw;
    }
}

/*small screen*/
@media only screen and (max-width: 1366px) {
    .phone-container {
        height: 80vh;
        width: 80vw;
    }

    .main-text {
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 0;
        padding: 0;
    }

    .animated-button {
        left: 55%;
        width: 70%;
    }
}

/*Tablet or cell side view*/
@media only screen and (max-width: 916px) {

    body {
        position: relative;
    }

    .secendery-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .phone-container {
        /*background-image: url(assets/Group\ Landscape.png);*/
        background-image: url(assets/group\ 2\ \(690x1114\).png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 22vw;

    }

    .text-container {
        width: 60vw;
    }

    .main-text {
        font-weight: bold;
        font-size: 45px;
    }

    .animated-button {
        left: 50%;
        width: 90%;
    }
}

/*Cell Phone*/
@media only screen and (max-width: 700px) {

    body {
        position: fixed;
    }

    .secendery-container {
        flex-direction: column;
    }



    .phone-container {
        background-image: url(assets/group\ 2\ \(690x1114\).png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 85vh;
        width: 85vw
    }

    .text-container {
        width: auto;
    }

    .main-text {
        font-weight: bold;
        font-size: 35px;
    }

    .animated-button {
        left: 30%;
        width: 80%;
        font-size: 6vw;
        margin: 75px;
    }
}